node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store

# Server
server/.env
server/dist/
server/node_modules/

# Web (to be added)
web/node_modules/
web/dist/

# Docker volumes (not tracked)
.docker/
.env
